%h1  #{t '.title'}

= link_to t('.new'), new_article_path

%table
  %tr
    %th #{t '.title2'}
    %th #{t '.text'}
    %th{colspan: "3"}
  - @articles.each do |article|
    %tr
      %td #{article.title}
      %td #{article.text}
      %td
        =link_to t('.show'), article_path(article)
      %td
        =link_to t('.edit'), edit_article_path(article)
      %td
        =link_to t('.destroy'), article_path(article), method: :delete, data: {confirm: "本当に削除しますか?"}
