%h1 #{t '.title'}
%p
  %strong #{t '.title2'}:
  = @article.title
%p
  %strong #{t '.text'}:
  = @article.text

%h2 Comments
= render @article.comments


%h2 Add a comment
= render partial: "comments/form", locals: {article: @article, comment: @comment}

= link_to t('articles.return_to_list'), articles_path
|
= link_to t('.edit'), edit_article_path(@article)
