%h1 #{t '.title'}
%p
  %strong #{t '.title2'}:
  = @article.title
%p
  %strong #{t '.text'}:
  = @article.text

= link_to t('articles.return_to_list'), articles_path
|
= link_to t('.edit'), edit_article_path
